@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personalized Concerige</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="BOOTSTRAP TRAVEL DESIGN">
    <meta name="keywords" content=" agency, booking, car, cruise, family, flight, hotel, tour, tour theme, travel, travel booking template, travel html template, traveling, vacation">
    <meta name="author" content="bitspeck">
  
      <!-- animate.min - css -->
      <link rel="stylesheet" href="~/css/animate.min.css">
      <!-- animate - css -->
      <link rel="stylesheet" href="~/css/animate.css">
      <!-- owl.carousel.min - css -->
      <link rel="stylesheet" href="~css/owl.carousel.min.css">
      <!-- owl.theme.default.min - css -->
      <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="~/css/YouTubePopUp.css">
      <!-- font-awesome.min - css -->
      <link rel="stylesheet" href="~/css/font-awesome.min.css">
      <link rel="stylesheet" href="~/css/fontawesome.min.css">
      <!-- bootstrap.min - css -->
      <link rel="stylesheet" href="~/css/bootstrap.min.css">
      <link rel="stylesheet" href="~/css/slick-theme.css">
      <link rel="stylesheet" href="~/css/slick.css">
      <!-- main - css -->
      <link rel="stylesheet" href="~/css/main.css">
      <!-- responsive - css -->
      <link rel="stylesheet" href="~/css/responsive.css">

</head>
<body>

    <!-- prelodear start -->
    <div id="preloader"></div>
    <!-- prelodear end --> 

@*    <!-- header start --> 
	<header class="header sticky-header clearfix">
        <div class="menu-sticky">
            <div class="container">
                <nav class="navbar navbar-expand-lg px-0 py-0">
                    <a class="navbar-brand" href="index.html"><img src="Image/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mr-4 dropdown">
                                <a class="nav-link dropdown-toggle home" href="#">
                                Home
                                </a>
                                <div class="dropdown-menu py-0 my-0">
                                   <a class="dropdown-item" href="index.html">Home 1</a>
                                   <a class="dropdown-item" href="index-2.html">Home 2</a>
                                   <a class="dropdown-item" href="index-3.html">Home 3</a>
                                </div>
                            </li>
                            <li class="nav-item mr-4">
                                <a class="nav-link" href="#ture-section">Places</a>
                            </li>
                            <li class="nav-item  mr-4">
                                <a class="nav-link" href="#about-section">About</a>
                            </li>
                            <li class="nav-item  mr-4">
                                <a class="nav-link" href="#gallery-section">Gallery</a>
                            </li>
                            <li class="nav-item  mr-4">
                                <a class="nav-link" href="#review">Clients</a>
                            </li>
                            <li class="nav-item  mr-4">
                                <a class="nav-link" href="#team_section">Team</a>
                            </li>
                            <li class="nav-item  mr-4">
                                <a class="nav-link" href="#contact-section">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>*@

    <!-- video banner section start -->

    <div id="video-banner" class="video-banner">
        <video src="Image/banner_video2.mp4" muted autoplay loop>
        </video>
        <img src="Image/banner_1.jpg" alt="banner-img">
        <div class="slider-content">
            <h2 class="text-center">Enjoy Your Vacation With <span>ICT2106 </span></h2>
            <p class="text-center">Travel to the any corner of Singapore, without going around in circles.</p>
            <div class="banner-btn">
               <a class="text-center" href="#about-section">Load More<i class="fa fa-angle-double-right"></i></a> 
            </div>
        </div>
    </div>

    <!-- jquery-3.5.0.min - js -->
    <script src="/js/jquery-3.5.0.min.js"></script>
    <!-- bootstrap.min - js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- popper.min - js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="/js/YouTubePopUp.jquery.js"></script>
    <!-- owl.carousel.min - js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- <script src="js/slick.js"></script> -->
    <script src="/js/slick.min.js"></script>
    <!-- wow.min - js -->   
    <script src="/js/wow.min.js"></script>
    <!-- main - js -->  
    <script src="/js/main.js"></script>
    <!-- silk -js -->

	
</body>
</html>