@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@



    <div id="video-banner" class="video-banner">
        <img src="Image/banner_1.jpg" alt="banner-img">
        <div class="slider-content">
            <h2 class="text-center">Enjoy Your Vacation With <span>ICT2106</span></h2>
            <p class="text-center">Travel to the any corner of the world, without going around in circles.</p>
            <div class="banner-btn">
               <a class="text-center" asp-area="" asp-controller="Account" asp-action="SignUp">Sign Up</a> 
            </div>
        </div>
    </div>