@media screen and (max-width: 1580px){
  .right-img{
    top: 12.5%;
  }
  .slider-content3 {
    top: 45%;
  }
  .slider-content3 {
    left: 14% !important;
    top: 40% !important;
  }
  .slider-content2 {
    top: 50% !important;
  }
}

@media screen and (max-width: 1499px){
  .right-img {
    top: 9.5%;
    right: 10%;
  } 
  .slider-content3 {
    left: 11% !important;
    top: 35% !important;
  }
  .right-img {
    right: 9% !important;
    top: 14.5% !important;
  }
  .video-banner3 .right-img img{
    width: 90%;
  }
}

@media screen and (max-width: 1399px){
  .right-img {
    top: 17.5%;
    right: 6%;
  }
  .right-img img{
    width: 85%;
  }
  .slider-content3 {
    top: 40%;
    left: 10%;
  }
  .slider-content {
    top: 50% !important;
  }
}

@media screen and (max-width: 1299px){
  .client .owl-nav .owl-prev{
    left: -4%;
  }
  .client .owl-nav .owl-next{
    right: -4%;
  }
  .slider-content3 {
    top: 35%;
    left: 7%;
  }
  .right-img {
    top: 9.5%;
    right: 4%;
  }
  .slider-content {
    top: 45% !important;
  }
  .video-banner3 .right-img img {
    width: 75%;
  }
  .right-img {
    right: 4% !important;
    top: 22.5% !important;
  }
}

@media screen and (max-width: 1199.98px){
  .navbar-collapse .navbar-nav .nav-item{
    margin-right: 1rem !important;
  }
  .navbar-nav .contact-btn{
    margin-left: 0px !important;
  }
  .navbar-nav .nav-item .nav-link{
    padding: 10px;
  }
  .navbar-collapse button{
    margin-top: 20px;
  }
  .slider-content h2 {
    margin-bottom: 0px;
  }
  .slider-content p {
    padding: 0px 250px;
  }
  .slider-content3 p {
    padding: 0px 0px;
  }
  .slider-content3 {
    transform: translateY(-250%);
  }
  .slider-content3 {
    left: 11%;
    width: 51%;
  }
  .slider-content2{
    transform: translateY(-210%) !important;
  }
  .right-img img {
    width: 72%;
  }
  .right-img {
    top: 14.5%;
    right: 4%;
  } 
  .text-center .under-title {
    padding: 0px 200px;
  }
  .text-center .under-title {
    padding: 0px 135px;
  }
  .text-center .under-title {
    padding: 0px 135px;
  }
  .slider-item{
    top: 50%;
  }
  .blog-content h5{
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 5px;
  }
  .blog-inside p{
    margin-top: 0px;
    margin-bottom: 1rem;
  }
  .blog-btn a{
    padding: 6px 12px;
  }
  .hotel_content {
    padding: 5px 18px;
  }
  .hotel_content h5{
    font-size: 16px;
  }
  .hotel_content .book-btn{
    margin: 18px 15px 18px;
  }
  .hotel_image {
    margin-bottom: 80%;
  }
  .img-text {
    top: 32.5%;
  }
  .details-inside {
    margin-bottom: 2.5rem;
    padding: 30px;
  }
  .slider-content {
    transform: translateY(-180%);
  } 
  .vedio-carosel iframe{
    height: 640px;
  }
  .slider-content h2{
    line-height: 1.3;
  }
  .slider-content p{
    line-height: 1.9;
    margin-bottom: 20px;
  }
  .tour-caption .vertical-bottom{
    display: flow-root;
    text-align: center;
  }
  .fl{
    display: flex;
    margin-bottom: 10px;
  }
  .tour-info .font-style-2{
    margin-right: 10px;
  }
}

@media screen and (max-width: 1145.98px){
  .right-img {
    top: 13.5%;
    right: 1%;
  }
}
@media screen and (max-width: 1075.98px){
  .right-img {
    top: 9.5%;
    right: -2%;
  }
  .ture-section3 {
    margin-top: -300px;
  }
  .video-wrapper3 .right-img img {
    width: 65%;
  }
  .right-img {
    right: 0% !important;
    top: 7.5% !important;
  }
  .slider-content {
    transform: translateY(-255%);
  }
}


@media screen and (max-width: 991.98px){
  .header-top{
    display: none;
  }
  .menu-sticky{
    padding: 0px 0px; 
  }
  .navbar-collapse .menu-btn .menu-contac-button{
    padding: 15px 30px;
  }
  .navbar-collapse .menu-btn{
    padding-bottom: 30px;
  }
  .dropdown-menu{
    border-left: 1px solid #ddd !important;
  }
  .topbar-socail{
    justify-content: center !important;
  }
  .top-bar-list{
    display: block !important;
  }
  .top-bar-list ul{
    justify-content: center;
  }
  .topbar-ul1:after{
    display: none;
  }
  .topbar-ul2:after{
    display: none;
  }
  .navbar-toggler{
    border: 1px solid #ddd;
  }
  .navbar-toggler{
    padding: .25rem .45rem;
    outline: none !important;
  }
  .navbar-toggler-icon{
    width: 40px; 
    height: 1px; 
    display: flex; 
    padding: 1px 0px;
    background: #ffffff;
    margin: 6px 0px 4px 0px;
    background: #ccc;
  }
  .navbar-nav .nav-item.active .nav-link:before {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
  }
  .navbar .navbar-collapse .navbar-nav li a:before{
    border-bottom: none;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu a{
    border-bottom: none !important;
  }
  .navbar .navbar-collapse .navbar-nav li a:hover:before{
    visibility: hidden;
  }
  .navbar-nav {
    margin-bottom: 40px;
  }
  .carousel-indicators {
    position: absolute;
    bottom: 5%;
    z-index: 9;
    right: 0%;
    transform: rotate(180deg);
  }
  .client .owl-nav .owl-prev{
    top: 50px;
  }
  .client .owl-nav .owl-next{
    top: 50px;
  }
  .about-title .under-title {
    padding: 0px 0px;
  }
  .overlay{
    left: 3%;
    width: 94%;
  }
  .footer-text{
    line-height: 2.9rem;
  }
  .slider-content p {
    padding: 0px 140px;
  } 
  .serv-content h4{
    font-size: 15px;
    margin-bottom: 0px;
  }
  .about-image,
  .about-image2{
    padding-top: 55px;
  }
  .about-image img,
  .about-image2 img{
    width: 100%;
  }
  .vedio-icon a {
    height: 50px;
    width: 50px;
    top: -25px;
  }
  .vedio-icon a i{
    font-size: 26px;
    padding: 12px 17px;
  }
  .text-center .under-title {
    padding: 0px 50px;
  }
  .btn{
    padding: 10px 48px;
  }
  .newsletter-content{
    text-align: center;
    padding-left: 0px;
    margin-bottom: 20px;
  }
  .form-inline {
    justify-content: center;
  }

  .hotel-contant p {
    padding: 0px 0px;
    margin-bottom: 15px;
  }
  .hotel-contant a {
    padding: 6px 9px;
    border-radius: 3px;
  }
  .hotel-overlay{
    width: 87.8%;
    height: 100%;
    left: 6%;
    top: 0%;
  }
  .blog-content img{
    width: 100%;
  }
  .content {
    margin-left: 60px;
    }
  .content {
    margin-left: 111px;
    margin-right: 55px;
  }
  .blog-content h5{
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 10px;
  }
  .team-details img{
    width: 100%;
  }
  .team-details {
    margin-bottom: 30px;
  }
  .team-overlay{
    height: 93%;
    width: 90%;
    left: 5%;
  }
  .img-text {
    top: 36%;
  }
  .form-control{
    padding-right: 130px;
  }
  .client-say .testimonial {
    padding: 40px 130px 0px;
  }
  .slider-content {
    transform: translateY(-65%);
  }
  .slider-content .banner-btn{
    display: none;
  }
  .abt-img1 img{
    width: 100%;
  }
  .vedio-carosel iframe {
    height: 500px !important;
  }
  .slider-content h2 {
    margin-bottom: 10px;
    line-height: 1.3;
  }
  .tour-caption .vertical-bottom{

  }
  .fl {
    float: inherit;
    justify-content: center;
  }
  .slider-content2 p{
    display: none;
  }
  .slider-content2 {
    transform: translateY(-280%) !important;
  } 
  .slider-content3 p {
    padding: 0px 0px;
  }
  .ture-section3 {
    margin-top: -185px;
  }
  .right-img img {
    width: 52%;
  }
  .slider-content3 {
    top: 41%;
    left: 14%;
    width: 64%;
  }
  .right-img {
    top: 41.5%;
    right: 0%;
  }
  .slider-content p{
    display: none;
  }

}
@media screen and (max-width: 840.99px){
  .slider-content {
    transform: translateY(-95%);
  }
  .slider-content2 {
    transform: translateY(-215%) !important;
  }
  .ture-section2 {
    margin-top: -220px;  
  }
  .slider-content {
    transform: translateY(-285%);
  }
  .video-wrapper3 .right-img img {
    width: 50%;
  }
  .right-img {
    right: 0% !important;
    top: 23.5% !important;
  }

}
@media screen and (max-width: 800.99px){
  .slider-content2 {
    transform: translateY(-285%) !important;
  }
}
@media screen and (max-width: 768.98px){

  .navbar-collapse .menu-btn .menu-contac-button{
    padding: 15px 30px !important;
  }
  .breadcrumb-menu h3{
    font-size: 26px;
    margin-bottom: 5px;
  }
  .breadcrumb li a{
    font-size: 12px;
  }
  .breadcrumb .active {
    font-size: 12px; 
  }
  #video-banner video{
    display: none;
  }
  .video-banner img{
    display: block;
  }
  .btn-content{
    margin-top: 30px;
  }
  .blog-inside2 a h5{
    margin-top: 1.5rem!important;
  }
  .slider-content p{
    display: none;
  }
  .overlay {
    left: 3%;
    top: 4%;
    width: 94%;
    height: 92%;
  }
  .slider-content p {
    padding: 0px 0px;
  }
  .slider-content h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 41px;
  }
  .banner-btn{
    margin-top: 45px;
  }
  .slider-content {
    transform: translateY(-220%);
  }
  .main{
    margin-bottom: 40px;
  }
  .serv-content h4{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .vedio-icon a {
    height: 50px;
    width: 50px;
    top: -25px;
  }
  .vedio-icon a i{
    font-size: 26px;
    padding: 12px 17px;
  }
  .text-center .under-title {
    padding: 0px 0px;
  }
  .slider-item {
    top: 25%;
    left: 10px;
  }
  .port-overlay {
    width: 100%;
    left: 0px;
  }
  .gallery-details {
    text-align: center;
  }
  .hotel-details img{
    width: 100%;
  }
  .hotel-overlay {
    width: 86%;
    height: 100%;
    left: 7%;
    top: 0%;
  }
  .blog-content img{
    width: 100%;
  }
  .rating {
    padding: 25px;
  }
  .blog-content h5{
    margin-top: 0rem!important;
    font-size: 25px;
  }
  .blog-btn a {
    padding: 9px 18px;
  }
  .team-overlay{
    height: 95.5%;
    width: 94%;
    left: 3%;
  }
  .hotel_image img{
    width: 100%;
  }
  .hotel_content {
    padding: 5px 70px;
  }
  .hotel_content h5 {
    font-size: 26px;
  }
  .hotel_content a {
    font-weight: 400;
    padding: 14px 80px;
  }
  .hotel_content ul{
    margin-top: 14px;
  }
  .hotel_content .book-btn {
    margin: 40px 15px 40px;
  }
  .hotel_image {
    margin-bottom: 60%;
  }
  .hotel_content {
    top: 45%;
  }
  .details-content img{
    width: 100%;
  }
  .img-text {
    top: 49%;
  }
  .footer-news img {
    width: 90%;
  }
  .client-say .testimonial {
    padding: 35px 95px 0px;
  }
  .client {
    box-shadow: rgb(246 255 230 / 71%) 0px 2px 4px -3px;
  }
  .slider-item {
    top: 70%;
    left: 0px;
  }
  .client-box {
    height: 50vh;
  }
  .vedio-carosel iframe {
    height: 460px;
  }
  .bg-bg-chrome img{
    width: 100%;
  }
  .slider-content2 {
    transform: translateY(-231%);
  }
  .ture-section2 {
    margin-top: -215px;
  }
  .right-img{
    display: none;
  }
  .slider-content3 {
    top: 37%;
    left: 16%;
    width: 80%;
  }
  
}

@media screen and (max-width: 641px){

  .client-say .testimonial {
    padding: 40px 85px 0px;
  }
  .slider-content {
    transform: translateY(-10%);
  }
  .slider-item {
    top: 70%;
    left: 0px;
  }
  .breadcrumb-img3{
    display: none;
  }
  video {
    height: 500px;
  }
  .slider-content2 {
    transform: translateY(-10%) !important;
  }
  #ture-section{
    margin-top: -10px;
  }
  .ture-section3 {
    margin-top: -235px !important;
  }
  .slider-content3 {
    top: 39%;
    left: 0%;
    text-align: center;
    width: 100%;
  }
  .ture-common-content h2 {
    color: #3d4352;
  }
  .slider-content3{
    width: 85%;
  }
  .ture-section3 {
    margin-top: -130px !important;
  }
  .slider-content {
    transform: translateY(-%);
  }
  .col-true{
    display: none;
  }
}

@media screen and (max-width: 601.99px) {
  .card-main {
    padding: 50px 10px
  }
  .card-0 {
    min-height: 432px
  }
  .profile {
    top: 24%
  }
  .profile-pic {
    width: 90px;
    height: 90px
  }
  .open-quotes {
    margin-left: 100px
  }
  .content {
    margin-left: 120px;
    margin-right: 50px
  }
  .close-quotes {
    margin-right: 30px
  }
  .slider-item {
    top: 70%;
    left: 0px;
  }
  #ture-section {
    padding: 0px 0px 60px;
  }
  .slider-content2 {
    transform: translateY(-245%) !important;
  }
  .slider-content {
    transform: translateY(-294%);
  }
  .ture-section2 {
    margin-top: -215px;
  }
  #ture-section{
    margin-top: 90px;
  }
  .ture-section3 {
    margin-top: -130px !important;
  }
  .slider-content2 {
    transform: translateY(-155%);
  }
    
}


@media screen and (max-width: 575.98px){
  .slider-content{
    transform: translateY(-170%);
  }
  .slider-content h2{
    font-size: 36px;
  }
  .common-content {
    padding-bottom: 30px;
  }
  .common-content h2{
    font-size: 24px;
  }
  .slider-content .slidp2{
    font-size: 14px;
  }
  .client .owl-item img{
    width: 60%;
  }
  .carousel-item img{
    height: 400px;
  }
  .footer-about{
    margin-top: 30px;
  }
  .footer-text{
    margin-top: 30px;
  } 
  .carousel-control-next, .carousel-control-prev{
    display: none;
  }
  .client-box {
    height: 57vh;
  }
  .slider-item {
    top: 25%;
    left: 0px;
  }
  .port-overlay {
    width: 68%;
    left: 86px;
  }
  .overlay-icon a{
    left: 46%;
    top: 44%;
  }
  .btn{
    padding: 11px 50px;
  }
  .comma-image img {
    height: 90px;
  }
  .card-0 {
    min-height: 316px;
  }
  .client-pera img{
  height: 20px;
  }
  .footer-news img {
    width: 30%;
  }
  .client-say .testimonial {
    padding: 10px 80px 0px;
  }
  .carousel-item p{
    margin-bottom: 10px;
  }
  .contact-btn input{
    margin-bottom: 40px;
  }
  .navbar {
    padding: 8px 0px 8px 0px !important;
  }
  .vedio-overlay h4{
    display: none;
  }
  .slider-content2 {
    transform: translateY(-171%);
  }
  .common-content h2{
    line-height: 1.3;
  }
  .ture-section3 {
    margin-top: -170px !important;
  }
}

@media screen and (max-width: 540px){
  .port-overlay {
    width: 73%;
    left: 69px;
  }
  .slider-content3 {
    transform: translateY(-145%);
  }
}

@media screen and (max-width: 481px){

  footer .scrollToTop{
    right: 5px;
  }
  .slider-content h2 {
    font-size: 30px;
    line-height: 2.5rem;
    margin-bottom: 18px;
  }
  .hotel_content a {
    font-weight: 500;
    padding: 14px 40px;
  }
  .hotel_image img {
    margin-bottom: 50px;
  }
  .hotel_content {
    top: 42%;
  }
  .client-say .testimonial {
    padding: 10px 0px 0px;
  }
  .slider-item {
    top: 42%;
    left: 10px;
  }
  .port-overlay {
    width: 82%;
    left: 42px;
  }
  .client-box {
    height: 45vh;
  }
  .img-text {
    top: 45%;
  }
  .ture-section2 {
    margin-top: -236px;
  }
  .slider-content {
    transform: translateY(-205%);
  }
  .slider-content2 {
    transform: translateY(-216%) !important;
  }
  .ture-section3 {
    margin-top: -80px !important;
  }
  .slider-content3 {
    transform: translateY(-250%);
  }

}


@media screen and (max-width: 466.98px){

  .slider-item {
    top: 56%;
  }
  .content {
    margin-left: 110px;
    margin-right: 60px;
  }
  .blog-content h5{
    font-size: 20px;
  }
  .team-overlay {
    height: 95%;
  }
  .slider-item {
    top: 32%;
  }
  .client-say .testimonial {
    padding: 10px 0px 0px;
  }
  .port-overlay {
    width: 92%;
    left: 16px;
  }
  .img-text {
    top: 43%;
  }
  .ture-section2 {
    margin-top: -30px !important;
  }
  .ture-common-content h2{
    color: #3d4352;
    line-height: 1.3;
  }
  .slider-content2 {
    transform: translateY(-160%);
  }

}

@media screen and (max-width: 414.98px){
  .client .owl-nav .owl-prev {
    top: 45px;
  }
  .client .owl-nav .owl-next {
    top: 45px;
  }
  .footer-about {
    margin-top: -45px;
  }
  .footer-text{
    margin-top: 30px;
  }
  .slider-content h2 {
    font-size: 25px;
    line-height: 2rem;
    margin-bottom: 15px;
  }
  .vedio-icon a {
    height: 40px;
    width: 40px;
  }
  .ture-section2 {
    margin-top: 30px !important;
  }
  .vedio-icon a i{
    font-size: 20px;
    padding: 10px 14px;
  }
  .slider-item{
    top: 65%;
    left: -14px;
  }
  .hotel_content h5 {
    font-size: 18px;
  }
  .hotel_content {
    padding: 5px 25px;
  }
  .hotel_content .book-btn {
    margin: 25px 10px 25px;
  }
  .hotel_content a {
    font-weight: 500;
    padding: 10px 30px;
  }
  .hotel_content {
    top: 40%;
  }
  .slider-item {
    top: 35%;
    left: 0px;
  }
  .client-say .testimonial {
    padding: 10px 5px 0px;
  }
  .port-overlay {
    width: 97%;
    left: 6px;
  }
  .img-text {
    top: 37%;
    right: 36%;
  }
  .slider-content {
    transform: translateY(-230%);
  }
  .navbar-nav {
    margin-bottom: 10px;
  }
  .banner-btn{
    display: none;
  }
  video {
    height: 300px;
  }
  .slider-content2 {
    transform: translateY(-225%) !important;
  }
  .ture-section2 {
    margin-top: 40px;
  }
  .video3 {
    height: 370px;
  }
  .ture-section3 {
    margin-top: -42px !important;
  }
  .slider-content3{
    top: 50%;
  }
  .slider-content3 {
    transform: translateY(-245%);
  }

}

	
@media screen and (max-width: 385px){

  .slider-content h2 {
    font-size: 25px;
  }
  .team-overlay {
    height: 93.5%;
    width: 92%;
    left: 4%;
  }
  .client-say .testimonial {
    padding: 10px 10px 0px;
  }
  .slider-item {
    top: 36%;
    left: -14px;
  }
  .port-overlay {
    width: 100%;
    left: 0px;
  }
  .img-text {
    top: 36%;
  }
  .slider-content {
    transform: translateY(-215%);
  }
  .slider-content2 {
    transform: translateY(-192%) !important;
  }
  .slider-content {
    transform: translateY(-191%);
  }
}

@media screen and (max-width: 375px){

  .banner_image img {
    margin-top: 35px;
  }
  .footer-service h3{
    margin-top: 20px;
  }
  .section-tittle small {
    top: 0px;
  }
  .footer-about{
    margin-top: -60px;
  }
  .vedio_image i {
    padding: 5px;
    font-size: 35px;
  }
  .overlay {
    left: 6.5%;
    top: 9%;
    width: 87%;
    height: 82%;
  }
  .slider-content h2 {
    font-size: 23px;
  }
  .btn{
    padding: 10px 35px;
  }
  .team-overlay {
    height: 94%;
    width: 92%;
    left: 4%;
  }
  .hotel_content h5 {
    line-height: 1.5rem;
  }
  .hotel_content a {
    padding: 6px 20px;
  }
  .hotel_content .book-btn {
    margin: 15px 10px 15px;
  }
  .hotel_content h5 {
    font-size: 14px;
  }
  .hotel-overlay {
    width: 92%;
    height: 100%;
    left: 4%;
    top: 0%;
  }
  .img-text {
    top: 32%;
  }
  .port-overlay {
    width: 100%;
    left: 0px;
  }
  .about-subtitle h3{
    font-size: 22px;
  }
  .client-box {
    height: 55vh;
  }
  .navbar-brand{
    width: 65%;
  }
  .slider-content {
    transform: translateY(-260%);
  }
  .slider-content3 {
    transform: translateY(-300%);
  }  
  .slider-content2 {
    transform: translateY(-260%) !important;
  }
}
@media  screen and (max-width: 360.99px){
  .slider-content {
    transform: translateY(-205%);
  }
  .slider-content2 {
    transform: translateY(-205%) !important;
  }
  .slider-content3 {
    transform: translateY(-235%);
  }
}
@media  screen and (max-width: 347px){
  .slider-content2 {
    transform: translateY(-285%) !important;
  }
}
@media  screen and (max-width: 347px){
  .client-pera {
    background-color: #007acc;
    border-radius: 15px;
    position: absolute;
    left: -72px;
    top: -21px;
  }
  .team-overlay{
    height: 93%;
    width: 90%;
    left: 5%;
  }
  .slider-content {
    transform: translateY(-390%);
  }
}


@media screen and (max-width: 320.99px){

  .breadcrumb-menu h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .span_btwn{
    margin-bottom: 5px;

  }
  .slider-content h2 {
    font-size: 20px;
  }
  .slider-item {
    top: 42%;
    left: 10px;
  }
  .slider-item h5, .slider-item i {
    font-size: 14px;
  }
  .form-control{
    padding-right: 120px;
    font-size: 12px;
  }
  .hotel_content ul {
    margin-top: 0px;
  }
  .hotel_content h5 {
    font-size: 11px;
  }
  .hotel_content {
    padding: 5px 7px;
  }
  .hotel-overlay {
    width: 92%;
    height: 100%;
    left: 4%;
    top: 0%;
  }
  .client-box {
    height: 60vh;
  }
  .img-text {
    top: 28%;
  }
  .details-inside h5{
    font-size: 16px;
    line-height: 1.5rem;
  }
  .footer-news img {
    width: 30%;
  }
  .slider-content {
    transform: translateY(-140%);
  }
  .slider-content3 {
    transform: translateY(-155%);
  }
  .slider-content2 {
    transform: translateY(-140%) !important;
  }
  .ture-section3 {
    margin-top: -22px !important;
  }


}



@media screen and (max-width: 281px){
  .slider-content h2 {
    font-size: 17px;
  }
  .slider-item h5, .slider-item i {
    font-size: 14px;
  }
  .carousel-item p {
    margin-bottom: 30px;
  }
  .slider-item{
    top: 88%;
    left: -16px;
  }
  .form-control{
    padding-right: 70px;
  }
  .btn {
    padding: 7px 20px;
  }
  .team-overlay{
    height: 91%;
    width: 88%;
    left: 6%;
  }
  .img-text {
    top: 23%;
  }
  .details-btn a {
    font-weight: 200;
    padding: 7px 14px;
  }
  .img-text{
    right: 30%;
  }
  .client-say .testimonial {
    padding: 5px 0px 0px;
  }
  .blog-inside .date {
    padding: 0px 17px;
  }
}
@media screen and (max-width: 281px){
  .client-box {
    height: 70vh;
  }
  .blog-inside .date {
    padding: 0px 6px;
  }
  .slider-item {
    top: 60%;
    left: 0px;
  }
  .about-subtitle h3{
    font-size: 22px;
    line-height: 2rem;
  }
}
/*New responsive css*/
